
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, "/>

    <link rel="shortcut icon" href=""/>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    
    <link href="~/css/style.css" rel="stylesheet" />
    <title>CupCafe</title>
</head>
<body>

    <header class="header" id="header">

        <div class="header__border">

        </div>

        <nav class="nav container">
            <a href="#" class="nav__logo">
                <img src="" alt="logo" />
               
                CupCafe
            </a>

            <div class="nav__menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="#" class="nav__link">
                            <i class="ri-home-5-fill"></i>
                            <span>
                                Giriş
                            </span>
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">
                            <i class="ri-menu-line"></i>
                             <span>
                                Menü
                            </span>
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">
                            <i class="ri-award-fill"></i>

                            <span>
                                Hakkımızda
                            </span>
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">
                            <i class="ri-compass-3-line"></i>
                            <span>
                                İletişim
                            </span>
                        </a>
                    </li>
                   
                </ul>
            </div>
        </nav>
    </header>

    <main class="main">
        <seciton class="home section" id="home">
            <div class="home__container container grid">
                <div class="home__data">
                    <h3 class="home__subtitle">
                        Ne Diyo Anlamadım
                    </h3>

                    <h1 class="home__title">
                        Harika bir kahve zamanı

                        <img src="" />
                    </h1>

                    <p class="home__description">
                        Harika bir kahveye mi ihtiyacınız var? Doğru adrestesiniz. Biribirinden ehşiz yoğun kahve tadıyla hizmetinizdeyiz.

                    </p>

                    <a href="#" class="button">
                        Başla <i class="ri-arrow-right-s-line"></i>
                    </a>
                </div>

             
                <img src="" alt="home image" class="home__img" />
            </div>

        </seciton>

        <section class="products">

        </section>

        <section class="about" id="about">


        </section>
    </main>


</body>




</html>